.fundoLogin {
    background-image: url("https://ik.imagekit.io/illaoi/Purple%20Laptop%20Interface%20with%20Cloud%20Gears.png?updatedAt=1753727448007");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}